$text: #4357a5;
$loginSubmit: #3085d6;

.switch-container {
	color: $text;
	display: flex;
	justify-content: center;
	margin-bottom: 7vh;

	svg {
		margin: 4px 20px;
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 90px;
		height: 40px;

		input {
			opacity: 0;
			width: 0;
			height: 0;

			&:checked + .slider:before {
				transform: translateX(50px);
			}

			&:checked + .slider {
				background-color: $text;
			}
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $loginSubmit;
			border-radius: 34px;

			&:before {
				position: absolute;
				content: "";
				height: 30px;
				width: 30px;
				left: 5px;
				bottom: 5px;
				background-color: white;
				transition: 0.4s;
				border-radius: 50%;
			}
		}
	}
}
