$color: rgb(247, 243, 235);
$text: #4357a5;
$loginSubmit: #3085d6;
$background: rgb(220, 255, 254);
.loginBackground {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $background;
}

.loginform {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.75);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 20px;
    width: 90%;
    height: 90%;
}

.loginformheader {
    padding: 0rem 4rem;
    padding-bottom: 0rem;
}

.loginformbody {
    display: grid;
    padding: 0rem 4rem;
    padding-bottom: 0rem;
    grid-gap: 10px;
}

.loginformfooter {
    flex: 1 1 auto;
    padding: 0rem 4rem;
}

.buttons {
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #eeeeee;
    overflow: hidden;
}

.button {
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    padding: 14px 14px;
    text-align: center;
    flex-grow: 1;
    transition: background-position 1s;
    display: inline-block;
    background-size: 200% 200%;
}

.active {
    background: $loginSubmit;
    color: white;
}